body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Playfair", serif;
    font-family: "Playfair Display", serif;
}

.main_container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

