body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    height: 100vh;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Playfair", serif;
    font-family: "Playfair Display", serif;
}

.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d4ac0d;
    border-radius: 2rem;
    width: 14rem;
    text-align: center;
    cursor: pointer;
}

.main_container:hover, .main_container a{
    width: 15rem;
    opacity: 0.8;
    font-size: 1.8rem;
    transition: 1s all;
}

.main_container p {
    margin: 1.4rem;
    font-size: 1.6rem;
    color: #000;
}

